body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0e7ff; /* Background color */
  background-position: center;
}

.container {
  text-align: center;
  padding: 30px;
  background-color: #ffffff; /* Background color for container */
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

/* TODO: Add styles for labels, inputs, buttons, and output text */
h1 {
  font-size: 2.2em;
  margin-bottom: 20px;
  color: #4a4a4a; /* Header color */
}

/* Add more styles here as needed */

.btnpass {
  background-color: rgb(31, 198, 204);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 30px;
  box-shadow: 0 3px 10px #c8c7c7;
  cursor: pointer;
}

.flexbtnpass {
  display: flex;
  width: 500px;
  height: 27px;
  margin-top: 10px;
  position: relative;
  left: 70px;
}

.btnclip {
  margin-left: 20px;
  background-color: rgb(49, 233, 95);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 30px;
  box-shadow: 0 3px 10px #c8c7c7;
  cursor: pointer;
}

.inputlength {
  display: flex;
  width: 50%;
  height: 20px;
  margin-left: 90px;
  margin-top: 5px;
}

.btnpass:hover {
  background-color: rgb(201, 210, 218);
}

.btnclip:hover {
  background-color: rgb(201, 210, 218);
}

.flexcheck {
  display: flex;
  margin-left: 110px;
  width: 300px;
  height: 150px;
  flex-direction: column;
  align-items: flex-start;
}
